* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Poppins", sans-serif !important;
}

.test-github {
  background-color: rgb(176, 212, 176);
}

/* RowInfo.css */
.name-text {
  min-width: 200px;
  text-transform: uppercase;
  color: #42a5f5;
  text-align: left;
  font-weight: bold;
}

.default-text {
  min-width: 200px;
  text-align: left;
  /* Màu chữ mặc định, ví dụ màu đen */
  color: #161414;
  font-weight: 700;
}

/* Scrollbar */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #79757a #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #79757a;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
/* End Scrollbar */
